body{
  background-image:url("https://eskipaper.com/images/real-madrid-13.jpg&ehk=3F32nHQi0VvQk6A+kxVr7+mbqhMvIqR37Tne873EDrY=&risl=&pid=ImgRaw&r=0") ;
  
}
#header{
  color: rgb(156, 221, 165);
}
table, th, td {
  border: 1px solid;
}
#navbarn  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b3d3d;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}